//
//  Project.xcconfig
//  Vrsnr
//
//  Created by Andrew McKnight on 6/30/16.
//  Copyright © 2016 Two Ring Software. All rights reserved.
//

MACOSX_DEPLOYMENT_TARGET = 10.11

CURRENT_PROJECT_VERSION = 2.0.2
BUILD_VERSION = 16

GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1 CURRENT_PROJECT_VERSION=$CURRENT_PROJECT_VERSION BUILD_VERSION=$BUILD_VERSION $(inherited)
GCC_PREPROCESSOR_DEFINITIONS_Release = CURRENT_PROJECT_VERSION=$CURRENT_PROJECT_VERSION BUILD_VERSION=$BUILD_VERSION $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))
